
<head>

 <link rel='stylesheet' href='/stylesheets/404.css' />
  
</head>

<body>


<div class="container">
  <div class="box four">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
  <div class="box zero">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
  <div class="box four">
    <div class="clock">
      <div class="hour__hands"></div>
    </div>
  </div>
</div>

 
<p class="error__msg">Page Not Found</p>






 {{!-- <footer>

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

</footer>  --}}