

<section class="auth vh-100">

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->


    <div class="form-wrapper">
        <div class="container">
            <div class="card">
                <div class="row g-0">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="d-block d-lg-none text-center text-lg-start">
                                    <img width="200" src="img/logo.png" alt="logo">
                                </div>
                                <div class="my-5 text-center text-lg-start">
                                    <h1 class="display-8">Login</h1>
                                    <p class="text-muted">Login In To Buy-Cycle  To Continue</p>
                                </div>
                                <form class="mb-5" action="/login" method="post" id="login">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" placeholder="Enter email" autofocus
                                               required name="email">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" placeholder="Enter password"
                                               required name="password">
                                    </div>
                                    <div class="text-center text-lg-start">
                                {{#if usernotfound}}
                                <p class="text-danger">Invalid Username or password</p>
                                {{/if}}
                                {{#if wrongpassword}}
                                <p class="text-danger">Invalid Username or password</p>
                                {{/if}}
                                        <p class="small">Can't access your account? <a href="#">Reset your password now</a>.</p>
                                        <button class="btn btn-primary">Login</button>
                                    </div>
                                </form>
                                <form action="/otppage" method="post">
								<div class="mb-3">
									<p class="medium">Login With OTP</p>
                                        <input type="mobile" class="form-control" placeholder="Enter Mobile Number" name="phonenumber" >
                                    </div>
                                    <div class="text-center text-lg-start">
                                        
                                        <button type="submit" class="btn btn-primary">Get OTP</button>
                                    </div>
                                    </form>
                                {{!-- <div class="social-links justify-content-center">
                                    <a href="#">
                                        <i class="ti-google bg-google"></i> Sign in with Google
                                    </a>
                                    <a href="#">
                                        <i class="ti-facebook bg-facebook"></i> Sign in with Facebook
                                    </a>
                                </div> --}}
                                <p class="text-center d-block d-lg-none mt-5 mt-lg-0">
                                    Don't have an account? <a href="#">Sign up</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-none d-lg-flex border-start align-items-center justify-content-between flex-column text-center">
                        <div class="logo">
                            <img width="350" src="img/logo.png" alt="logo">
                        </div>
                        <div>
                            <h3 class="fw-bold">Welcome to Buy-Cycle !</h3>
                            <p class="lead my-5">If you don't have an account, would you like to register right now?</p>
                            <a href="/signup" class="btn btn-primary">Sign Up</a>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

	</section>